<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> tweet generator </title>
</head>
<body>

  <div>
    <h1>Tweet:</h1>
    <h2>{{ sentence }}</h2>
    
    <h1>Sampled Word:</h1>
    <h2>{{ chosen_word }}</h2>
  </div>
  <form action="/tweet" method="post">
    <input type="hidden" name="sentence" value="{{sentence}}">
    <button type="submit"> Tweet this</button>
  </form>
</body>
</html>